/* Color Variables */
:root {
  --primary-color: rgb(17, 17, 17);
  --primary-color2: #ffffff;

  --green-border-color: #3eee58aa;
  --btn-background-color: #008943;
  --box-shadow-color: rgba(0, 0, 0, 0.5);
}

/* need to add colors  */
