main {
  flex-direction: column;
  line-height: var(--destination-line-height);
}

#activateGame {
  width: fit-content;
  margin: 15px 0;
  border-radius: 10px;
  background-color: var(--color-inverse-surface);
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 1000;
  color: white;
}

#activateGame:hover {
  background-color: var(--color-error-container);
  color: var(--color-primary);
  font-weight: 600;
}

section.container {
  flex-direction: column;
  background-color: var(--color-primary-container);
  padding: 1rem;
  border-radius: 1rem;
}

#cityName {
  font-size: 3rem;
  color: white;
}

#destinationContent {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.infoDescriptionSection {
  width: 500px;
}

#destinationContent img {
  width: 450px;
  height: 450px;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(252, 252, 252, 0.733);
}

#destinationContent div {
  text-align: justify;
  color: white;
  margin-bottom: 10px;
}

#destinationContent h3 {
  color: white;
  background-color: var(--color-on-secondary-container);
  padding-left: 10px;
}

#destinationContent:first-child {
  display: flex;
  flex-direction: column;
}

/*Popular places section*/

#popularSites {
  display: flex;
  gap: 20px;
  background-color: var(--color-error-container);
  border-radius: 1em;
  margin-top: 10px;
}

.popularPlaces {
  padding: 10px;
  position: relative;
}
.popularPlaces img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}
.popularPlaces p {
  position: absolute;
  font-size: 1em;
  text-align: start;
  font-weight: 600;
  bottom: 30px;
  padding-left: 10px;
  color: white;
  background-color: var(--color-primary-container-trans);
  z-index: 100;
  width: 70%;
  padding: 5px;
}
