body.flex {
  background-image: none;
  flex-direction: column;
}

header.flex {
  width: 100vw;
  /* height: 20vh; */
  flex-direction: column;
}

main {
  flex-direction: column;
  line-height: var(--destination-line-height);
}

button#activateGame {
  width: 30%;
}

section.container {
  height: 80vh;
  flex-direction: column;
  background-color: var(--color-primary-container);
  padding: 0.5rem;
}

article {
  background-color: var(--color-secondary-container);
  padding: 0.2rem;
  border-radius: 0.5rem;
}

article > p,
article > h3 {
  display: inline-flex;
}

/* collapse ID and coordinates */
article#ID,
article#coordinates {
  visibility: collapse;
}

div#imageGallery {
  display: grid;
  grid-template-areas: "photo1 photo2 photo3 photo4 photo5";
  gap: 2rem;
}

div#photo1 {
  grid-area: photo1;
  height: var(--destination-grid-img-height);
  width: var(--destination-grid-img-width);
  background-color: var(--destination-grid-img-bgc);
  border-radius: var(--destination-grid-img-border-radius);
}

div#photo2 {
  grid-area: photo2;
  height: var(--destination-grid-img-height);
  width: var(--destination-grid-img-width);
  background-color: var(--destination-grid-img-bgc);
  border-radius: var(--destination-grid-img-border-radius);
}

div#photo3 {
  grid-area: photo3;
  height: var(--destination-grid-img-height);
  width: var(--destination-grid-img-width);
  background-color: var(--destination-grid-img-bgc);
  border-radius: var(--destination-grid-img-border-radius);
}

div#photo4 {
  grid-area: photo4;
  height: var(--destination-grid-img-height);
  width: var(--destination-grid-img-width);
  background-color: var(--destination-grid-img-bgc);
  border-radius: var(--destination-grid-img-border-radius);
}

div#photo5 {
  grid-area: photo5;
  height: var(--destination-grid-img-height);
  width: var(--destination-grid-img-width);
  background-color: var(--destination-grid-img-bgc);
  border-radius: var(--destination-grid-img-border-radius);
}
