footer {
  position: static;
  bottom: 0;
  width: 100%;
  justify-content: start;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: var(--color-primary-container);
  color: white;
}

footer p {
  text-align: center;
  margin: 0;
  padding: 20px;
  font-size: 0.8rem;
}
