body{
    background-image: none;
    
}

.game-header {
    background-color: var(--color-primary);
    height: 3.5rem;
}

.game-header-btns{
    display: flex;
    justify-content: space-between;
}

.go-back-btn, .next-game-btn, .next-word-btn{
    background-color: white;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin: 0.5rem;
}

.game-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.game-title, .game-description{
    text-align: center;
}

.game-description{
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.matching-game {
    display: grid;
    gap: 1.5rem;
    align-items: center;   
    height: auto;                     
    max-width: 800px;                 
    margin: auto;                    
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr)); 
}

.card-down{
    width: 100%;
    height: 100%;
    background-image: url('../../game/card.webp');
    background-size: cover;
    background-position: center;
}
 
.card-up{
    display: none;
}

.card-down, .card-up.expose{
    max-height: 17vh;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-up.expose{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(222, 213, 213);
    background-color: blanchedalmond;
} 

.card-up.expose img{ 
    margin-top: 0.5rem;
    max-width: 90%;
    max-height: 80%;
    border-radius: 1rem;
    object-fit: scale-down;
}

.translated-card{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    max-height: 90%;
    border-radius: 1rem;
    border: 1px solid black;
}

.word-title{
    font-size: 1.5rem;
}


.translating-game{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin-top: 1rem;
}

.word-to-translate{
    margin-top: 3rem;
}

.translated-options{
    display:flex;
    gap: 5rem;
}