header {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: var(--color-primary-container);
  color: white;
}

header a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

#logo {
  height: 80px;
  margin-left: 20px;
}

.navbar {
  list-style: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-right: 30px;
}

body header div div.topicHeader {
  margin-top: 7vh;
  margin-right: 7vw;
  display: flex;
  justify-content: center;
}

body header div div.topicHeader img {
  height: 14vh;
  border-radius: 25px;
}
body header div div.topicHeader h2 {
  position: absolute;
}

div#difficultyMenu {
  cursor: pointer;
  padding: 12px;
  position: relative;
  font-weight: 400;
  font-size: 26px;
  background-color: #4c626a;
  border-radius: 15px;
  color: #ffffff;
  display: flex;
}

div#difficultyMenu a strong {
  color: var(--color-primary);
  font-weight: 900;
  font-size: 30px;
  background-color: rgb(255, 255, 255, 75%);
  border-radius: 15px;
  padding: 3px;
}

div#difficultyMenu a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  font-weight: 700;
}

div#difficultyMenu ul.DropDwonMenu {
  visibility: hidden;
  position: absolute;
  top: 105%;
  left: 0%;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 22px;
  color: var(--color-on-primary);
  background-color: var(--color-primary);
  border-radius: 35px;
}

div#difficultyMenu ul.DropDwonMenu.visable {
  visibility: visible;
  z-index: 100;
}
div#difficultyMenu ul.DropDwonMenu li {
  display: flex;
  justify-content: center;
  margin: 0;
  margin: 15px;
  padding: 6px;
}
div#difficultyMenu ul.DropDwonMenu li:hover {
  border-radius: 25px;
  background-color: #4c656e;
}
