header {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: var(--color-primary-container);
  color: white;
}

header a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

#logo {
  height: 80px;
  margin-left: 20px;
}

.navbar {
  list-style: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-right: 30px;

}

 div#difficultyMenu{
  padding: 12px;
  position: relative;
  font-weight: 400;
  font-size: 26px;
  background-color:#4c626a;
  border-radius: 15px;
  color: #ffffff;
  display: flex;
}

 div#difficultyMenu a:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  background-color: wheat;
  color: #4c626a;
  font-weight: 700;
}

div#difficultyMenu ul.DropDwonMenu{
  visibility:hidden;
  position: absolute;
  top: 65%;
  left: -10%;
  width: 100%;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 22px;
  background-color: rgb(242, 217, 172,85%);
  border-radius: 35px;
}

 div#difficultyMenu ul.DropDwonMenu.visable{
  visibility:visible;
  z-index: 100;
}
div#difficultyMenu ul.DropDwonMenu li{
  background-color:#4c656e;
  width: 50%;
  padding:15px;
  margin: 0;
  border-radius: 25px;
  margin: 15px;
}