* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  all: unset;
  font-family: lato, sans-serif;
}
h3,
p,
h2,
ol {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  /* background-image: url("https://c4.wallpaperflare.com/wallpaper/729/301/106/free-world-map-wallpaper-preview.jpg"); */
  background-size: 100vw;
  min-width: 1100px;
}
