/* SETUP */
@import url(setup/vars.css);
@import url(setup/typography.css);

/* BASICS */
@import url(basics/base.css);
@import url(basics/helpers.css);
@import url(basics/buttons.css);

/* COMPONENTS */
@import url(components/header.css);
@import url(components/footer.css);
@import url(components/game-page.css);
@import url(components/main-page.css);
@import url(components/destination-page.css);
@import url(components/matchingGame.css);
